<div class="inset-0 w-full h-screen bg-[var(--bg-foreground)] pt-[70px] flex justify-center items-center flex-col gap-3.5 text-white">
  <h1 class="text-[var(--text-black)]">By Franco V</h1>
   <div class="buttons flex justify-center">
            <a class="text-lg font-bold text-[var(--color-foreground)] inline-flex py-4 px-11 bg-red-50 uppercase" href="/"">Go Back Home</a>
    </div>
</div>