@font-face {
  font-family: "Roseritta";
  src: url("./RoserittaRegular.woff2") format("woff2"),
    url("./RoserittaRegular.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "ITC Benguiat Std Medium Cn";
  src: url("./BenguiatStd-MediumCondensed.woff2") format("woff2"),
    url("./BenguiatStd-MediumCondensed.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "ITC Benguiat Std";
  src: url("./BenguiatStd-MediumItalic.woff2") format("woff2"),
    url("./BenguiatStd-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
* {
  box-sizing: border-box;
}
h2 {
  font-family: "Roseritta", sans-serif;
  letter-spacing: 3px;
  text-transform: lowercase;
  font-weight: 600;
  width: 100%;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

body {
  font-family: var(--bodyFont);
  font-weight: var(--bodyWeight);
  color: var(--color-gray);
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

.secondary-heading {
  font-family: ITC Benguiat Std Medium Cn;
  letter-spacing: calc(1em * 0.02);
}

.heading-italic {
  font-family: "ITC Benguiat Std";
  font-weight: 500;
  letter-spacing: 0;
  text-decoration: uppercase;
}

input,
select,
textarea {
  transition: 300ms;
}
input:focus,
select:focus,
textarea:focus {
  outline: 0;
  background: #0000000d;
  padding-inline: 10px;
}

.block {
  display: flex;
}

/* Initial hidden state */
.fade-in-up {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

/* Visible state */
.fade-in-up.visible {
  opacity: 1;
  transform: translateY(0);
}

.header-wrapper {
  justify-content: space-between;
}
