@font-face {
  font-family: "roserittaregular";
  src: url("./roseritta-webfont.woff2") format("woff2"),
    url("./roseritta-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ITC Benguiat Std Medium Cn";
  src: url("./BenguiatStd-MediumCondensed.woff2") format("woff2"),
    url("./BenguiatStd-MediumCondensed.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "itc_benguiat_stdmedium_italic";
  src: url("benguiatstd-mediumitalic-webfont.woff2") format("woff2"),
    url("benguiatstd-mediumitalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--bodyFont);
  font-weight: var(--bodyWeight);
  color: var(--color-gray);
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

h2 {
  font-family: "roserittaregular", sans-serif;
  letter-spacing: 3px;
  font-weight: 600;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-display: swap;
}

.secondary-heading {
  font-family: ITC Benguiat Std Medium Cn;
  letter-spacing: calc(1em * 0.02);
}

.heading-italic {
  font-family: "itc_benguiat_stdmedium_italic", sans-serif;
  font-weight: 500;

  letter-spacing: 0;
}

input,
select,
textarea {
  transition: 300ms;
}
input:focus,
select:focus,
textarea:focus {
  outline: 0;
  background: #0000000d;
  padding-inline: 10px;
}

.block {
  display: flex;
}

/* Initial hidden state */
.fade-in-up {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

/* Visible state */
.fade-in-up.visible {
  opacity: 1;
  transform: translateY(0);
}

.header-wrapper {
  justify-content: space-between;
}

.marquee {
  display: flex;
  overflow: hidden;
  white-space: nowrap;
}
.marquee__item {
  animation-duration: 50s;
  animation-iteration-count: infinite;
  animation-name: marquee-content;
  animation-timing-function: linear;
}
.marquee:hover .marquee__item {
  animation-play-state: paused;
}

@keyframes marquee-content {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}
